/** Styles for writing answers that are revealed on hover */

blockquote {
  border-left: 2px solid #FFEB8E;
  padding: 0px 0px; 
}

blockquote div {
  border-left: 2px solid #FFEB8E;
  transition: opacity 0.2s ease-in 0s;
  opacity: 0.0;
}

blockquote:hover div {
  transition: opacity 0.2s ease-in 0s;
  opacity: 1.0;
}
