---
layout: default
title: "CAMH Computing Skills Workshops 2014"
---

<section class="content">
  <p>These workshops will focus on some basic computing skills you need for
  getting study data organized, using the CAMH compute cluster (SCC), and
  generally doing computing-oriented scientific work.</p>

  <p>You should attend if you are doing any sort of scientific computing work.
  If you have questions, send me email: <a
  href="email:jon.pipitone@camh.ca">jon.pipitone@camh.ca</a>.</p>

  <h1 class="thin">Workshop Notes</h1>
  <ul class="listing">
    {% for post in site.posts %}
      <li>
      <span>{{ post.date | date: "%B %e, %Y" }}</span>
      <a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h1 class="thin">Upcoming Workshops</h1>

  {% capture schedule %}{% include schedule.md %}{% endcapture %}
  {{ schedule | markdownify }}

</section>
